<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.premierepage">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PremierePage"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".calculePremierDefit"
            android:exported="false" />
        <activity
            android:name=".FoodActivity"
            android:exported="false" />
        <activity
            android:name=".LancerDeuxiemeDefit"
            android:exported="false" />
        <activity
            android:name=".LancerPremierDefit"
            android:exported="false" />
        <activity
            android:name=".Defit"
            android:exported="false" />
        <activity
            android:name=".aliments"
            android:exported="false" />
        <activity
            android:name=".workoutGoal"
            android:exported="false" />
        <activity
            android:name=".customActivity"
            android:exported="false" />
        <activity
            android:name=".Tennis"
            android:exported="false" />
        <activity
            android:name=".Yoga"
            android:exported="false" />
        <activity
            android:name=".Skating"
            android:exported="false" />
        <activity
            android:name=".Boxing"
            android:exported="false" />
        <activity
            android:name=".Football"
            android:exported="false" />
        <activity
            android:name=".Aerobic"
            android:exported="false" />
        <activity
            android:name=".Abdominal"
            android:exported="false" />
        <activity
            android:name=".Walking"
            android:exported="false" />
        <activity
            android:name=".Running"
            android:exported="false" />
        <activity
            android:name=".calculeKcalActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityExercices"
            android:exported="false" />
        <activity
            android:name=".weeklyGoal"
            android:exported="false" />
        <activity
            android:name=".diaryBalanceActivity"
            android:exported="false" />
        <activity
            android:name=".FifthActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ThirdActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".FourthActivity"
            android:exported="false"/>

   <activity android:name=".App"
       android:exported="true">
       <intent-filter>
           <action android:name="android.intent.action.MAIN" />

           <category android:name="android.intent.category.LAUNCHER" />
       </intent-filter>
   </activity>



        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>