<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.premierepage">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PremierePage"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".GestionRepasAdmin"
            android:exported="false" />
        <activity
            android:name=".AjouterRepasAdmin"
            android:exported="false" />
        <activity
            android:name=".AjouterExerciceAdmin"
            android:exported="false" />
        <activity
            android:name=".GestionExerciceAdmin"
            android:exported="false" />
        <activity
            android:name=".PageAdmin"
            android:exported="false" />
        <activity
            android:name=".Repas"
            android:exported="false" />
        <activity
            android:name=".QuantiteAliment"
            android:exported="false" />
        <activity
            android:name=".personnelSetting"
            android:exported="false" />
        <activity
            android:name=".dinner15"
            android:exported="false" />
        <activity
            android:name=".dinner14"
            android:exported="false" />
        <activity
            android:name=".dinner13"
            android:exported="false" />
        <activity
            android:name=".dinner12"
            android:exported="false" />
        <activity
            android:name=".dinner11"
            android:exported="false" />
        <activity
            android:name=".dinner10"
            android:exported="false" />
        <activity
            android:name=".dinner9"
            android:exported="false" />
        <activity
            android:name=".dinner8"
            android:exported="false" />
        <activity
            android:name=".dinner7"
            android:exported="false" />
        <activity
            android:name=".dinner6"
            android:exported="false" />
        <activity
            android:name=".dinner5"
            android:exported="false" />
        <activity
            android:name=".dinner4"
            android:exported="false" />
        <activity
            android:name=".dinner3"
            android:exported="false" />
        <activity
            android:name=".dinner2"
            android:exported="false" />
        <activity
            android:name=".dinner1"
            android:exported="false" />
        <activity
            android:name=".lunch15"
            android:exported="false" />
        <activity
            android:name=".lunch14"
            android:exported="false" />
        <activity
            android:name=".lunch13"
            android:exported="false" />
        <activity
            android:name=".lunch12"
            android:exported="false" />
        <activity
            android:name=".lunch11"
            android:exported="false" />
        <activity
            android:name=".lunch10"
            android:exported="false" />
        <activity
            android:name=".lunch9"
            android:exported="false" />
        <activity
            android:name=".lunch8"
            android:exported="false" />
        <activity
            android:name=".lunch7"
            android:exported="false" />
        <activity
            android:name=".lunch6"
            android:exported="false" />
        <activity
            android:name=".lunch5"
            android:exported="false" />
        <activity
            android:name=".lunch4"
            android:exported="false" />
        <activity
            android:name=".lunch3"
            android:exported="false" />
        <activity
            android:name=".lunch2"
            android:exported="false" />
        <activity
            android:name=".lunch1"
            android:exported="false" />
        <activity
            android:name=".breakfast20"
            android:exported="false" />
        <activity
            android:name=".breakfast19"
            android:exported="false" />
        <activity
            android:name=".breakfast18"
            android:exported="false" />
        <activity
            android:name=".breakfast17"
            android:exported="false" />
        <activity
            android:name=".breakfast16"
            android:exported="false" />
        <activity
            android:name=".breakfast15"
            android:exported="false" />
        <activity
            android:name=".breakfast14"
            android:exported="false" />
        <activity
            android:name=".breakfast13"
            android:exported="false" />
        <activity
            android:name=".breakfast12"
            android:exported="false" />
        <activity
            android:name=".breakfast11"
            android:exported="false" />
        <activity
            android:name=".breakfast10"
            android:exported="false" />
        <activity
            android:name=".breakfast9"
            android:exported="false" />
        <activity
            android:name=".breakfast8"
            android:exported="false" />
        <activity
            android:name=".breakfast7"
            android:exported="false" />
        <activity
            android:name=".breakfast6"
            android:exported="false" />
        <activity
            android:name=".breakfast5"
            android:exported="false" />
        <activity
            android:name=".breakfast4"
            android:exported="false" />
        <activity
            android:name=".breakfast3"
            android:exported="false" />
        <activity
            android:name=".breakfast2"
            android:exported="false" />
        <activity
            android:name=".Breakfast1"
            android:exported="false" />
        <activity
            android:name=".dietPlans"
            android:exported="false" />
        <activity
            android:name=".warming_up11"
            android:exported="false" />
        <activity
            android:name=".warming_up10"
            android:exported="false" />
        <activity
            android:name=".warming_up9"
            android:exported="false" />
        <activity
            android:name=".warming_up8"
            android:exported="false" />
        <activity
            android:name=".warming_up7"
            android:exported="false" />
        <activity
            android:name=".warming_up6"
            android:exported="false" />
        <activity
            android:name=".handstand_pro"
            android:exported="false" />
        <activity
            android:name=".orteilsBarre_pro"
            android:exported="false" />
        <activity
            android:name=".pompe_pro"
            android:exported="false" />
        <activity
            android:name=".muscle_up_pro"
            android:exported="false" />
        <activity
            android:name=".gainage"
            android:exported="false" />
        <activity
            android:name=".dips_pro"
            android:exported="false" />
        <activity
            android:name=".create_repas"
            android:exported="false" />
        <activity
            android:name=".warming_up5"
            android:exported="false" />
        <activity
            android:name=".warming_up4"
            android:exported="false" />
        <activity
            android:name=".warming_up3"
            android:exported="false" />
        <activity
            android:name=".warming_up2"
            android:exported="false" />
        <activity
            android:name=".dips"
            android:exported="false" />
        <activity
            android:name=".legRaise"
            android:exported="false" />
        <activity
            android:name=".handstand"
            android:exported="false" />
        <activity
            android:name=".burpees"
            android:exported="false" />
        <activity
            android:name=".muscleUp"
            android:exported="false" />
        <activity
            android:name=".warming_up"
            android:exported="false" />
        <activity
            android:name=".Defit3"
            android:exported="false" />
        <activity
            android:name=".keto_medium"
            android:exported="false" />
        <activity
            android:name=".keto_easy"
            android:exported="false" />
        <activity
            android:name=".hightProteinDiet"
            android:exported="false" />
        <activity
            android:name=".balancedDiet"
            android:exported="false" />
        <activity
            android:name=".DietType"
            android:exported="false" />
        <activity
            android:name=".calculeDeuxiemeDefit"
            android:exported="false" />
        <activity
            android:name=".Defit2"
            android:exported="false" />
        <activity
            android:name=".Defit1"
            android:exported="false" />
        <activity
            android:name=".calculePremierDefit"
            android:exported="false" />
        <activity
            android:name=".FoodActivity"
            android:exported="false" />
        <activity
            android:name=".LancerDeuxiemeDefit"
            android:exported="false" />
        <activity
            android:name=".LancerPremierDefit"
            android:exported="false" />
        <activity
            android:name=".Defit"
            android:exported="false" />
        <activity
            android:name=".aliments"
            android:exported="false" />
        <activity
            android:name=".workoutGoal"
            android:exported="false" />
        <activity
            android:name=".customActivity"
            android:exported="false" />
        <activity
            android:name=".Tennis"
            android:exported="false" />
        <activity
            android:name=".Yoga"
            android:exported="false" />
        <activity
            android:name=".Skating"
            android:exported="false" />
        <activity
            android:name=".Boxing"
            android:exported="false" />
        <activity
            android:name=".Football"
            android:exported="false" />
        <activity
            android:name=".Aerobic"
            android:exported="false" />
        <activity
            android:name=".Abdominal"
            android:exported="false" />
        <activity
            android:name=".Walking"
            android:exported="false" />
        <activity
            android:name=".Running"
            android:exported="false" />
        <activity
            android:name=".calculeKcalActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityExercices"
            android:exported="false" />
        <activity
            android:name=".weeklyGoal"
            android:exported="false" />
        <activity
            android:name=".diaryBalanceActivity"
            android:exported="false" />
        <activity
            android:name=".FifthActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ThirdActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".FourthActivity"
            android:exported="false" />
        <activity
            android:name=".App"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>